<div class="debug h-5 col-md-12 c-white">
  <p class="debug col-md-1">DA</p>
  <div class="debug col-md-7"></div>
  <button class="debug col-md-1 button">About</button>
  <button class="debug col-md-1 button">Concerts</button>
  <button class="debug col-md-1 button">Conductor</button>
  <button class="debug col-md-1 button">Contact</button>
</div>


<div class="debug h-5 col-md-12 c-white ta-cen mt-10">
  <h1 class="">De Anza Symphonic Wind Ensemble</h1>
  <h2>More descriptive stuff</h2>
</div>

<div class="debug h-20 col-md-12 mt-10 bg-red ta-cen c-white">
  <h1>About the Band</h1>
  <div class="debug col-md-1"></div>

  <div class="content debug c-white col-md-10">
    <p>Some text about the band</p>
  </div>

  <div class="debug col-md-1"></div>

</div>

